@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Login Service Sample</h1>
</div>

<p>Register or login using the login service.</p>
<p>
    To register:
    <ul>
        <li>Click on the <a asp-controller="Home" asp-action="Invitation">Register</a> link</li>
        <li>Enter an email address (<a href="https://mailinator.com/">Mailinator</a> is useful)</li>
        <li>Click on the resulting invitation ID</li>
        <li>Create a password</li>
        <li>Click on the <a asp-controller="Home" asp-action="Secure">Secure</a> area of this site</li>
        <li>Enter your new login details</li>
        <li>See your claims</li>
    </ul>
</p>