@model SFA.DAS.LoginService.Application.BuildLogoutViewModel.LogoutResponse

@{
    ViewBag.Title = "Signed out";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">You've signed out</h1>

            <p class="govuk-body">
                <a class="govuk-link" href="https://www.apprenticeships.gov.uk">Return to apprenticeships.gov.uk</a>
            </p>
        </div>
    </div>
</main>
